body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td, th {
    text-align: center;
    padding: 80px;
}


input[type=text] {
    width: 4%;
    padding: 5px 5px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2.5px solid #800000;
}

.button {
    background-color: #800000; /* Crimson */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.move {
 display: inline;
}
/*slider looks*/
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 7px; /* Specified height */
    background: #800; /* Grey background */
    outline: none; /* Remove outline */
    opacity: .85; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 18px;
    border-radius: 20%;
    background:   #DAA520;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #DAA520;
    cursor: pointer;
}

.sliderTotal {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 7px; /* Specified height */
    background: #FFF; /* Grey background */
    outline: none; /* Remove outline */
    opacity: .85; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.sliderTotal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 18px;
    border-radius: 20%;
    background:   #DAA520;
    cursor: pointer;
}

.sliderTotal::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #DAA520;
    cursor: pointer;
}

.jumbotron {
    z-index: 1;
    background-image: 
    linear-gradient( rgba(128, 0, 0, 0.6), rgba(128, 0, 0, 0.6) ), 
    url('https://i.imgur.com/4Aqgyo4.jpg');

    background-size: 100% auto;
    color: #fff;
    padding: 100px 25px;
}

.meet-team {
  background-image: 
  linear-gradient( rgba(128, 0, 0, 0.6), rgba(128, 0, 0, 0.6) ), 
  url(' https://i.imgur.com/udlUBjJ.jpg');
  padding: 60px 50px;
  color: #fff;
}

.event-stats {
  background-image: 
  linear-gradient( rgba(128, 0, 0, 0.6), rgba(128, 0, 0, 0.6) ), 
  url(' https://i.imgur.com/23B3Hh3.jpg');
  padding: 60px 50px;
  color: #fff;
}

.container-fluid {
  background-color: #560000;
  padding: 60px 50px;
  color: #fff;
}
.container-fluid2 {
  background-color: #ffffff;
  padding: 60px 50px;
  color: #800000;
}

.bg-grey {
  background-color: #800000;
}
.logo-small {
  color: #800000;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.navbar {
  margin-bottom: 0;
  background-color: #560000;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #800000 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
  }
}
.srcImage {
    object-fit: cover;
}


.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
    z-index: 10000
  
}

.modal{
      position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;
}